<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ophelia : Teori</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <nav class="sticky pt-10 grid grid-cols-5 h-16">
        <div class="grid justify-center items-center">
            <a href="/">
                <img src="{{ url_for('static', filename='assets/ophelia.svg') }}" alt="logo" style="height: 30px;">
            </a>
        </div>
        <div class="col-span-3 flex flex-row items-center justify-center space-x-20">
            <a href="/teori" class="underline underline-offset-4">Teori</a>
            <a href="/" class="">Home</a>
            <a href="/tentang" class="">Tentang</a>
        </div>
    </nav>
    <div class="mt-10 grid grid-cols-2">
        </div>
        <div>
            <font size="+2">
                <center>
                    <strong>Apa Itu Metode CPI?</strong>
                </center>
            </font>
        </div>
    </div>
    <div>
        <p>
            <br id="left">
            &emsp;&emsp;&emsp;&emsp; Metode Composite Performance Index (CPI) merupakan salah satu jenis metode yang digunakan dalam sebuah studi 
                kasus Sistem Pendukung Keputusan. Definisi mengenai metode Composite Performance Index (CPI) adalah indeks gabungan (Composite Index) 
                yang dapat digunakan untuk menentukan penilaian atau peringkat dari berbagai alternatif berdasarkan beberapa kriteria. Metode CPI ini 
                dapat dikatakan sebagai salah satu metode perhitungan dari pengambilan keputusan berbasis index kinerja.
        </br>
        </p>
        <p>
            <br id="left">
            &emsp;&emsp;&emsp;&emsp; Composite Performance Index (CPI) dapat digunakan sebagai bantuan proses untuk pengambilan untuk meminimalkan 
            kesalahan dan penerimaan subjektif keputusan, metode penghitungan CPI dapat juga dihitung secara manual dan mudah terutama jika diterapkan 
            dalam bentuk aplikasi yang akan memungkinkan semua pihak untuk mendapatkan hasil yang akurat. Metode CPI menggunakan pemecahan masalah dengan 
            sistem Multiple Criteria Decision Making (MCDM) yang menentukan urutan atau prioritas dalam analisis multikriteria. Metode Composite Performance 
            Index merupakan salah satu metode perhitungan dari pengambilan keputusan berbasis indeks kinerja. CPI juga dapat menjadi alat ukur atas perubahan 
            rata-rata tertimbang harga sekeranjang barang dan jasa konsumen yang dianggap penting. CPI dihitung menggunakan rumus rata-rata tertimbang dengan 
            adanya satu tahun dasar, dan dalam konteks Indonesia, tahun yang dijadikan dasar adalah tahun 2018=100^5.
        </br>
        </p>
        <p>
            <br id="left">
            Adapun Prosedur penyelesaian metode Composite Performance Index (CPI) yaitu sebagai berikut:
        </br>
        </p>
        <p>
            <br>
            &emsp;&emsp; 1. Identifikasi kriteria tren positif (semakin tinggi nilainya semakin baik) dan tren negatif (semakin rendah nilainya semakin buruk) <br>
            &emsp;&emsp; 2. Untuk kriteria tren positif, nilai minimum pada setiap kriteria ditransformasi ke seretus, sedangkan nilai lainnya ditrasformasi secara proforsional lebih tinggi. <br>
            &emsp;&emsp; 3. Untuk kriteria tren negatif, nilai minimum pada setiap kriteria ditransformasi ke seratus, sedangkan nilai lainnya ditransformasi secara proforsional lebih rendah.
        </br>
        </p>
    </div>
    <div>

    </div>
</body>
</html>